body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 500;
}
header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

                                /* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}
header div {
    flex-grow: 1;
}
.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

                                /* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;
}

form input, form textarea, form label {display: block; margin: 0 auto;}

form label {text-align: center;}
form textarea {
    width: 450px;
    padding: 15px;
    height: 165px;
}
form input[type='submit'] {
    margin-top: 20px;
    background-color: #ffffff;
    text-transform: uppercase;

    font-size: 20px;
    padding: 7px 25px;
}

.src_text {
    background-color: #ffffff;
    color: #002ebc;
    font-style: italic;

    padding: 15px;
    margin-bottom: 15px;

    width: 100%;
    max-height: 250px;
}
.src_text::before {
    display: block;
    content: "Исходный текст: ";
    font-weight: bold;
    margin-bottom: 8px;

    font-size: 19px;
    color: #000000;
}
.analysis_results {
    margin-left: 25px;
}


.back-button {
    display: block;

    width: 230px;

    margin-top: 20px;
    padding: 7px 25px;

    background-color: #ffffff;
    border: 1px;

    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 20px;

}
.back-button:hover {
    box-shadow: 4px 4px 3px rgba(7, 23, 61, 0.2);
}

pre {
    width: 50%;
    max-height: 200px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: auto;
    border: 2px solid #ffffff;
}
                                /* F O O T E R */
footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;

}